# Virtualenvs
.env/

# Python
__pycache__

# IDE
.idea

# Notebook checkpoints
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
notebooks/.DS_Store

# Pytest
*pytest_cache
/**/*pytest_cache

# Notebook for figures
/notebooks/figures.ipynb
/notebooks/figures/*
